<section id="marcas" class="team section-bg py-5"
  style="background-color: #1B1B1B;">
  <div class="container" data-aos="fade-up">
    <div class="section-title text-light mb-5 text-center">
      <h2>MARCAS</h2>
      <p>Contamos con las marcas más reconocidas en el mercado nacional e
        internacional especializadas en la
        fabricación de repuestos para vehículos con altos estándares de
        calidad.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <!-- 1 -->
      <div class="col">
        <div class="card h-100" data-aos="fade-up" data-aos-duration="800"
          data-aos-delay="100">
          <img src="assets/marcas/marca1.png" class="card-img-top"
            alt="Marca Sangsin">
          <div class="card-body">
            <p class="card-text">
              Fabricante líder en la industria coreana de piezas y partes para
              frenos de fricción, cuenta con más de 6
              plantas a nivel mundial. Sangsin está equipado con las mejores
              tecnologías originales globalmente
              apreciadas y es suplidor OEM para Hyundai, Kia, GM Daewoo,
              SSangyong y Renault Samsung.
            </p>
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div class="col">
        <div class="card h-100" data-aos="zoom-in">
          <img src="assets/marcas/marca2.png" class="card-img-top"
            alt="Marca Hansang">
          <div class="card-body">
            <p class="card-text">La marca HANSANG maneja una amplia gama de
              repuestos de parte de caja como son: Piñón
              y corona, Deslizante, Piñones, Trenfijo, Satélites, Planetarios,
              Propulsor, Bronces, etc.</p>
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="col">
        <div class="card h-100" data-aos="zoom-in">
          <img src="assets/marcas/marca3.png" class="card-img-top"
            alt="Marca Mando">
          <div class="card-body">
            <p class="card-text">Mando Corporation pertenece al grupo Halla
              Holding y cuenta con 20 fábricas en el
              mundo, 16 centros de investigación y más de 11,000
              trabajadores.</p>
            <p class="card-text">La visión de Mando Corporation es crear
              productos seguros, ecológicos y de fácil
              uso.</p>
          </div>
        </div>
      </div>

      <!-- 4 -->
      <div class="col">
        <div class="card h-100" data-aos="fade-left">
          <img src="assets/marcas/marca4.png" class="card-img-top"
            alt="Marca TCIC">
          <div class="card-body">
            <p class="card-text">Tae Chul Industrial Co. es fabricante de piezas
              de automóviles con más de 70 años de
              experiencia en la producción de bombas y bombines de freno y
              embrague de la mejor calidad. Cuenta con 5
              plantas en Asia.</p>
          </div>
        </div>
      </div>

      <!-- 5 -->
      <div class="col">
        <div class="card h-100" data-aos="fade-left">
          <img src="assets/marcas/marca5.jpg" class="card-img-top"
            alt="Marca Valeo">
          <div class="card-body">
            <p class="card-text">Valeo Pyeong Hwa International es una compañía
              que cuenta con más de 90 años de
              creación y se ha convertido en socio de los principales
              fabricantes de automóviles, con operaciones en 33
              países, diseñando tecnologías y sistemas innovadores para que los
              futuros automóviles sean más intuitivos,
              autónomos y amigables con el medio ambiente.</p>
          </div>
        </div>
      </div>

      <!-- 6 -->
      <div class="col">
        <div class="card h-100" data-aos="fade-right">
          <img src="assets/marcas/marca6.png" class="card-img-top"
            alt="Marca Yulim">
          <div class="card-body">
            <p class="card-text">Establecida en 1998, Yulim High-Tech ha crecido
              como una de las compañías líderes de la
              industria del automóvil en Corea. Produce y exporta piezas para
              sistemas de suspensión y dirección.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
