<footer id="footer" class="bg-dark text-light pt-5">
    <div class="footer-top pb-5">
        <div class="container">
            <div class="row gy-4">
                <!-- Contacto y Redes Sociales -->
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3 class="text-uppercase fw-bold mb-3">IKOMI PERU</h3>
                    <p class="small">
                        Empresa importadora y comercializadora de repuestos para
                        todo tipo de vehículos con calidad y a precios de
                        mercado.
                    </p>
                    <div
                        class="social-links d-flex justify-content-start gap-3 mt-3">
                        <a href="#" class="text-light"><i
                                class="bx bxl-twitter fs-4"></i></a>
                        <a
                            href="https://www.facebook.com/ikomi.peru?locale=es_LA"
                            target="_blank" class="text-light"><i
                                class="bx bxl-facebook fs-4"></i></a>
                        <a
                            href="https://www.instagram.com/ikomi.peru?utm_source=ig_web_button_share_sheet&amp;igsh=ZDNlZDc0MzIxNw=="
                            target="_blank" class="text-light"><i
                                class="bx bxl-instagram fs-4"></i></a>
                        <a href="#" class="text-light"><i
                                class="bx bxl-skype fs-4"></i></a>
                        <a href="#" class="text-light"><i
                                class="bx bxl-linkedin fs-4"></i></a>
                    </div>
                </div>

                <!-- Dirección y Contacto -->
                <div class="col-lg-7 col-md-12">
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <div class="info-box text-light p-3 ">
                                <i class="bx bx-map fs-3 me-2 text-warning"></i>
                                <h4 class="d-inline">Dirección</h4>
                                <p class="small mt-2">
                                    Avenida Nicolás Ayllón 3384 <br>
                                    Carretera Central - Paradero Rayovac<br>
                                    Lima - Ate
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box text-light p-3 ">
                                <i
                                    class="bx bx-envelope fs-3 me-2 text-warning"></i>
                                <h4 class="d-inline">Correo</h4>
                                <p class="small mt-2">ventasikomiperu.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box text-light p-3 ">
                                <i
                                    class="bx bx-phone-call fs-3 me-2 text-warning"></i>
                                <h4 class="d-inline">Teléfonos</h4>
                                <p class="small mt-2">985 068 416<br>981 453
                                    306</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Links -->
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4 class="fw-bold mb-3">Enlaces</h4>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" routerLink="/"
                                fragment="index"><i
                                    class="fas fa-home"></i> Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/"
                                fragment="nosotros"><i class="fas fa-users"></i>
                                Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/"
                                fragment="servicios"><i class="fas fa-cogs"></i>
                                Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/"
                                fragment="productos"><i class="fas fa-box"></i>
                                Productos</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/"
                                fragment="marcas"><i
                                    class="fas fa-tags"></i> Marcas</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/"
                                fragment="contactanos"><i
                                    class="fas fa-phone"></i>
                                Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-start py-3 border-top">
        <div
            class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="credits">
                <small>&copy; 2024 <a href="#" class="text-warning">Grupo IKOMI
                        PERU</a>. Todos los derechos reservados.</small>
            </div>
        </div>
    </div>
</footer>
