<div class="container">
  <div class="row g-1">
    <div class="col-md-6 mb-4 nosotros-card" style="padding: 0 5px;">
      <app-cards title="Equipo"
        imageSrc="assets/nosotros/equipo.jpg"></app-cards>
    </div>
    <div class="col-md-6 mb-4 nosotros-card" style="padding: 0 5px;">
      <app-cards title="Almacen"
        imageSrc="assets/nosotros/tienda.jpg"></app-cards>
    </div>
    <div class="col-md-6 mb-4 nosotros-card" style="padding: 0 5px;">
      <app-cards title="Tienda"
        imageSrc="assets/nosotros/tienda2.jpg"></app-cards>
    </div>
    <div class="col-md-6 mb-4 nosotros-card" style="padding: 0 5px;">
      <app-cards title="Empresa"
        imageSrc="assets/nosotros/empresa.jpg"></app-cards>
    </div>
  </div>
</div>

<section id="nosotros" class="about section-bg py-5"
  style="background-color: #1B1B1B;">
  <div class="container text-light" data-aos="fade-up">
    <div class="row">

      <!-- Contenedor de Historia -->
      <div class="col-xl-5 d-flex align-items-stretch mb-4 mb-xl-0">
        <div class="content p-4 rounded shadow-sm">
          <h3 class="mb-4">HISTORIA</h3>
          <p>
            IKOMI PERU es una compañía dedicada a la importación y
            comercialización de repuestos automotrices al por
            mayor y menor para vehículos medianos y pesados de las principales
            marcas de origen coreano y japonés.
          </p>
          <p>
            Nuestra empresa ha satisfecho las necesidades del rubro a nivel
            nacional desde 2009, cumpliendo con los
            estándares de calidad, seguridad y sostenibilidad que el mercado
            actual demanda.
          </p>
          <p>
            IKOMI PERU, con más de 15 años de presencia en el mercado peruano,
            cuenta con el respaldo de más de 3000
            clientes y se posiciona como una de las empresas más destacadas en
            el rubro a nivel nacional.
          </p>
        </div>
      </div>

      <!-- Contenedor de Icon Boxes -->
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center p-4">
          <div class="row">
            <!-- Misión -->
            <div class="col-md-6 mb-4">
              <div class="p-3 rounded shadow-sm h-100" data-aos="fade-up"
                data-aos-delay="100">
                <div class="icon mb-3 text-danger">
                  <i class="bx bx-receipt fs-2"></i>
                </div>
                <h4 class="fw-bold">Misión</h4>
                <p style="color: #848484;">
                  En IKOMI PERU, nos comprometemos a satisfacer a nuestros
                  clientes a través de colaboradores
                  capacitados y mejora continua en la cadena de suministro,
                  valorando la responsabilidad social y la
                  sostenibilidad.
                </p>
              </div>
            </div>

            <!-- Visión -->
            <div class="col-md-6 mb-4">
              <div class="p-3 rounded shadow-sm h-100" data-aos="fade-up"
                data-aos-delay="200">
                <div class="icon mb-3 text-primary">
                  <i class="bx bx-cube-alt fs-2"></i>
                </div>
                <h4 class="fw-bold">Visión</h4>
                <p style="color: #848484;">
                  Buscamos ser líderes reconocidos en el rubro automotriz,
                  destacándonos por la calidad excepcional de
                  nuestros productos y servicios.
                </p>
              </div>
            </div>

            <!-- Proveedores -->
            <div class="col-md-6 mb-4">
              <div class="p-3 rounded shadow-sm h-100" data-aos="fade-up"
                data-aos-delay="300">
                <div class="icon mb-3 text-success">
                  <i class="bx bx-images fs-2"></i>
                </div>
                <h4 class="fw-bold">Proveedores</h4>
                <p style="color: #848484;">
                  Entre nuestros proveedores se encuentran las mejores compañías
                  de manufactura global, con más de 5000
                  ítems en stock.
                </p>
              </div>
            </div>

            <!-- Logística -->
            <div class="col-md-6 mb-4">
              <div class="p-3 rounded shadow-sm h-100" data-aos="fade-up"
                data-aos-delay="400">
                <div class="icon mb-3 text-warning">
                  <i class="bx bx-shield fs-2"></i>
                </div>
                <h4 class="fw-bold">Logística</h4>
                <p style="color: #848484;">
                  La logística en IKOMI PERU es indispensable para ser eficiente
                  y competitivo, optimizando el
                  almacenamiento y distribución.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>