.custom-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para que se vea bien dentro del espacio */
}

.card-title {
  font-weight: lighter;
  color: #333;
}

.card-text {
  color: #555;
}
