<section id="contactanos" class="contact py-5 bg-light">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-title text-center mb-5">
      <h2>Contáctenos</h2>
      <p class="lead">Llene el formulario y un asesor se pondrá en contacto lo
        más pronto posible.</p>
    </div>

    <div class="row aos-init aos-animate" data-aos="fade-up"
      data-aos-delay="100">
      <div class="col-lg-6 mb-4">
        <!-- Google Map -->
        <div class="map-container rounded shadow">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1950.9333865427911!2d-76.9587326956823!3d-12.052686351689921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAv.%20Nicol%C3%A1s%20Ayll%C3%B3n%203384%2CAte%20Ref.%20Centro%20Comercial%2027%20de%20Abril!5e0!3m2!1ses-419!2spe!4v1708102127038!5m2!1ses-419!2spe"
            width="100%" height="350" style="border:0;" allowfullscreen
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <form action="#" method="post" role="form"
          class="p-4 rounded shadow bg-white">
          <div class="mb-3">
            <label for="txtnombres" class="form-label">Apellidos y
              Nombres</label>
            <input type="text" name="txtnombres" class="form-control"
              id="txtnombres" placeholder="Ingrese su nombre completo">
          </div>

          <div class="mb-3">
            <label for="txttelefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" name="txttelefono"
              id="txttelefono" placeholder="Ingrese su teléfono">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" name="email" id="email"
              placeholder="Ingrese su correo electrónico">
          </div>

          <div class="mb-3">
            <label for="txtasunto" class="form-label">Asunto</label>
            <input type="text" class="form-control" name="txtasunto"
              id="txtasunto" placeholder="Ingrese el asunto de su mensaje">
          </div>

          <div class="mb-3">
            <label for="txtmensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" name="txtmensaje" id="txtmensaje"
              rows="5" placeholder="Escriba su mensaje aquí"></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-danger btn-lg">Enviar
              Mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
