<div class="banner d-flex align-items-center" id="index">
    <div class="container text-right text-light">
        <h1 class="display-4 font-weight-bold"
            style="color: white; font-size: 3rem;">REPUESTOS
            EN GENERAL</h1>
        <h1 class="display-4 font-weight-bold"
            style="color: white; font-size: 2.5rem;">para
            camiones de todas</h1>
        <h1 class="display-4 font-weight-bold"
            style="color: white; font-size: 2.5rem;">las
            marcas.</h1>
        <p class="lead"
            style="color:white; font-size: 1.5rem; font-weight:normal;">Somos
            una
            empresa
            importadora de
            repuestos.</p>
    </div>
</div>